<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997099254445-rursfc5cp2v4rf1be7nrq073nff2sock.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997099254445-rursfc5cp2v4rf1be7nrq073nff2sock</string>
	<key>API_KEY</key>
	<string>AIzaSyALktGAQu3RKkGKORCoJnFI_eeSIq60cYE</string>
	<key>GCM_SENDER_ID</key>
	<string>997099254445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.lucassales.flutterchat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-94c88</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-94c88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997099254445:ios:8cf1216fa3ec7fb7888c24</string>
</dict>
</plist>